::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #212121;
    border-radius: 10px;
}
* {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Mono", Sans serif;
    color: #f0f0f0;
}
a {
    color: #ababab;
    font-family: "Roboto Mono", Sans serif;
    text-decoration: none;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #212121;
}
p {
    margin: 15px 0px 0px 0px;
    font-family: "Inter", Sans serif;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #ababab;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #080808;
    color: #f0f0f0;
}
#con-one {
    margin: 50px auto 0px;
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}
#con-one img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    object-fit: cover;
    cursor: pointer;
}
#con-one div {
    margin: 0px 0px 0px 50px;
    width: fit-content;
    height: fit-content;
}
#con-one div h1 {
    font-size: 3rem;
    font-weight: 900;
}
#con-one div p {
    font-size: 1.3rem;
    font-weight: 600;
}
#con-two {
    margin: 80px auto 0px;
    width: 70%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#con-two-left {
    width: 60%;
    height: fit-content;
}
#con-two-left h2 {
    margin: 0px 0px 10px 0px;
    font-size: 1.6rem;
    font-weight: 600;
}
#con-two-right {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
#con-two-right a {
    margin: 0px 0px 10px 0px;
    color: #7cd867;
    width: fit-content;
}
#con-two-right a:hover {
    border-bottom: 1px solid #7cd867;
}
ion-icon {
    font-size: 16px;
    margin: 0px 10px -2px 0px;
}
#con-three {
    margin: 80px auto 0px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
#con-three div {
    width: fit-content;
    height: fit-content;
}
#con-three div h4 {
    font-size: 1.1rem;
    font-weight: 600;
}
#con-four {
    margin: 80px auto 0px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
#con-four h2 {
    margin: 0px 0px 30px 0px;
    width: 100%;
    height: fit-content;
    font-size: 1.6rem;
    font-weight: 900;
}
#con-four div {
    margin: 10px 10px 0px 0px;
    padding: 20px;
    width: calc(50% - 50px);
    min-height: 180px;
    height: fit-content;
    background-color: #121212;
    border-radius: 5px;
    cursor: pointer;
}
#con-four div:hover {
    background-color: #181818;
    transition: 0.3s;
}
#con-four div h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #7cd867;
}
footer {
    margin: 80px auto 80px;
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
footer a {
    margin: 15px 30px 15px 0px;
}
footer a:hover {
    border-bottom: 1px solid #7cd867;
    color: #7cd867;
    transition: 0.3s;
}