::-webkit-scrollbar {
    width: 5px;
    background-color: #111111;
}

::-webkit-scrollbar-thumb {
    background-color: #222222;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Typewriter";
    line-height: 30px;
    background-image: radial-gradient(#222222 1px, #111111 0);
    background-size: 20px 20px;
    color: #bbbbbb;
}


header {
    width: 500px;
    margin: 10px 10px 10px 30%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
}

header button {
    margin: 10px;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    color: violet;
    font-family: "Lucida Sans Typewriter";
    font-weight: 600;
}

header button:hover {
    background-color: #222222;
    transition: 0.5s;
}


.container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first,
#third,
#fourth {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border-top: 1px solid #444444; */
}

#first {
    justify-content: center;
}

#fourth {
    flex-direction: column;
    justify-content: center;
}

#image {
    width: 200px;
    height: 200px;
    margin: 100px 0px 0px 0px;
    padding: 0px;
    border: none;
    border-radius: 100px;
    filter: brightness(90%);
    z-index: -1;
}

#apple {
    width: 500px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
    background-color: #181818;
    border: 1px solid #222222;
    border-radius: 10px;
    font-weight: 600;
}

.container button {
    height: 40px;
    width: 200px;
    background-color: #111111;
    border: 1px solid #333333;
    border-radius: 5px;
    color: #ff9696;
    margin: 10px 0px 0px 0px;
    font-family: "Lucida Sans Typewriter";
    font-weight: 600;
    cursor: pointer;
}

#second {
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading {
    color: violet;
    margin: 100px 0px 30px 0px;
    padding: 0px;
    font-size: 30px;
    letter-spacing: 1px;
}

#education {
    width: 500px;
    background-color: #181818;
    border: 1px solid #222222;
    border-radius: 10px;
    margin: 0px;
    padding: 0px 30px 30px 30px;
}

#education h4 {
    margin: 30px 0px 0px 0px;
    padding: 0px;
    color: #ffffff;
}

#education p {
    margin: 5px 0px 0px 0px;
    padding: 0px;
}



#ai,
#wd {
    width: 40%;
}

#paragraph {
    width: 500px;
}

#paragraph a {
    color: #ffffff;
}

#fourth h2 {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    color: violet;
}

#turtle,
#grace {
    width: 500px;
    height: 200px;
    padding: 30px;
    background-color: #181818;
    display: flex;
    border-radius: 10px;
    border: 1px solid #222222;
    margin: 0px 0px 10px 10px;
}

#left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#right h4 {
    margin: 0px;
    padding: 0px;
    color: violet;
}

#right p {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 80%;
    line-height: 20px;
    color: #ffffff;
}

#right a {
    color: #bbbbbb;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: 100;
}

footer {
    width: 100%;
    height: 70vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h3 {
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

footer p {
    padding: 0px;
    margin: 0px 0px 30px 0px;
    text-align: center;
}

footer a {
    padding: 0px;
    margin: 30px 0px 0px 0px;
    color: violet;
}

footer a:hover {
    color: purple;
    transition: 0.4s;
}